<!-- views/partials/header.ejs -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What the Flag?</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/50/c72c2c/flag--v1.png" />
  </head>
  